
/* Reset de bază */
body,
ul {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

h1 {
    color: #fff;
    font-family: Montserrat, sans-serif;
}

p {
    color: #ddd;
    line-height: 1.6;
    margin-bottom: 4px;
    font-family: Montserrat, sans-serif;
}

body {
    line-height: 1.6;
    background-color: #1E3A5F;
    color: #333;
    padding: 0 20px;
}

.app-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1E3A5F;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


/* Stilizarea nav-bar-ului */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2e5c98;
    box-shadow: 0px 0px 10px rgba(225, 219, 219, 0.1);
   
}


.navbar-logo img {
    height: 50px;
}

/* Stilizarea link-urilor */
.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar-links li a {
    color: white;
    /* Culoarea textului */
    text-decoration: none;
    /* Elimină sublinierea */
    font-size: 16px;
    /* Mărimea textului */
}

.navbar-links li a:hover {
    color: #ddd;
    /* Culoarea textului la hover */
}

/* Stilizarea butonului de login */
.navbar-login .login-button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    
    
}

.navbar-login .login-button:hover {
    background-color: #29882e;
    /* Culoarea butonului la hover */
}


/* Stilizarea secțiunii principale */
.main-content {
    display: flex;
    /* Afișează textul și imaginea pe orizontală */
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    background-color: #1E3A5F;
    border-radius: 10px;
    color: white;
    /* Textul alb */
}

.text-content {
    max-width: 60%;
    color: white;
    /* Limitează lățimea textului */
}

.image-content {
    max-width: 40%;
    /* Limitează lățimea imaginii */
}

.presentation-image {
    width: 80%;
    /* Imaginea ocupă întreaga lățime a containerului */
    max-width: 400px;
    /* Imaginea nu va depăși 500px */
    height: auto;
    border-radius: 10px;
}

/* Stilizarea footer-ului */
.site-footer {
    margin-top: 40px;
    padding: 20px;
    background-color: #1E3A5F;
    color: white;
    text-align: center;
    border-radius: 10px;
}

.site-footer p {
    margin-bottom: 10px;
}

.site-footer strong {
    color: #4CAF50;
    
}


.download-cv-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.download-cv-button:hover {
    background-color: #29882e;
    /* Culoarea butonului la hover */
}

.puzzle-image{
    float: right;
    max-width: 100%;
    margin-right: 20px;
    
       
}



.calculator-button {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.calculator-button:hover {
    background-color: #0056b3;
    
}

.tic-tac-toe-button {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tic-tac-toe-button:hover {
    background-color: #0056b3;
    /* Albastru mai închis la hover */
}


@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .navbar {
        flex-direction: column;
        /* Navigarea pe mobil */
    }

    #display {
        width: 100%;
        font-size: 0.8em;
    }

    .calculator-button {
        width: 100%;
        margin-top: 10px;
    }
        .tic-tac-toe-button {
            width: 100%;
            margin-top: 10px;
        }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    body {
        font-size: 16px;
    }

    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    #display {
        max-width: 400px;
        font-size: 1.5em;
    }

    .calculator-button {
        width: auto;
        padding: 12px 24px;
    }

          .tic-tac-toe-button {
              width: auto;
              padding: 12px 24px;
          }
}

@media screen and (min-width: 901px) {
    body {
        font-size: 18px;
    }

    .navbar {
        justify-content: space-between;
    }

    #display {
        max-width: 500px;
        font-size: 2em;
    }

    .calculator-button {
        padding: 15px 30px;
    }
        .tic-tac-toe-button {
            padding: 15px 30px;
        }
}